<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
</ol>

<div class="container-fluid row">
    <div class="col-md-3 ">
        <h5 class="mb-3">Olá, {{infos?.nomePessoa}}</h5>
        <img src="https://www.pngitem.com/pimgs/m/294-2947257_interface-icons-user-avatar-profile-user-avatar-png.png"
            height="100" alt="avatar">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Notificação <i style="font-size:20px" class="fa">&#xf0f3;</i>
            </button>
            <div *ngIf="temNotificacao">
                <div class="dropdown-menu" style="max-height: 200px; max-width: 400px; overflow: auto;"
                    aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" *ngFor="let n of notificacoes" type="button">
                        <b>{{n.tipoPublicacao}}</b><br>
                        {{n?.titulo}} - {{n?.autor}}
                    </button>
                </div>
            </div>
            <div *ngIf="!temNotificacao">
                <div class="dropdown-menu"
                    aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Não há notificação</button>
                </div>
            </div>
        </div>

        <div *ngIf="cientista">
            <span>{{formacao?.nivelDeFormacao}}</span><br>
            <span>{{formacao?.localDeFormacao}}</span><br>
            <span>{{dataNascimento}}</span><br>
            <span>{{tempoEmAtividade}}</span> como cientista<br>
            <span>{{trabalho?.nomeInstituicao}} - {{trabalho?.cidadeOndeTrabalha}} -
                {{trabalho?.estadoOndeTrabalha}}</span><br>
            <span>{{curriculo?.link}}</span><br>
        </div>
        <div *ngIf="!cientista">
            <span>{{formacao?.nivelDeFormacao}}</span><br>
            <span>{{formacao?.localDeFormacao}}</span><br>
            <span><b>Data de nascimento: </b>{{dataNascimento}}</span><br>
        </div>
        <h6 class="mt-3">Interesses:</h6>
        <div *ngIf="temInteresses">
            <div class="btn-group" *ngFor="let x of interesses;">
                <button class="btn btn-dark m-3" disabled>{{x}}</button>
            </div>
        </div>
        <div *ngIf="!temInteresses">
            <span><b>Você ainda não cadastrou interesses.</b></span><br>
            <span>Para adicionar interesse(s) <a routerLink="interesses">clique aqui.</a></span>
        </div>
    </div>

    <div class="col-md-6">
        <app-post></app-post>
    </div>

    <div class="col-md-3">
        <h5 class="mb-3">Seguidores</h5>
        <div style="height: 200px; overflow-y: auto; ">
            <div class="list-group" *ngFor="let x of seguidores;">
                <button class="btn btn-dark" (click)="goToPerfil(x)">{{x.infos?.nomePessoa}}</button>
            </div>
        </div>

        <hr>

        <h5 class="my-3">Seguindo</h5>
        <div style="height: 200px;  overflow-y: auto;">
            <div class="list-group" *ngFor="let x of seguindo;">
                <button class="btn btn-dark" (click)="goToPerfil(x)">{{x.infos?.nomePessoa}}</button>
            </div>
        </div>
    </div>
</div>