<ol class="breadcrumb">
    <li class="breadcrumb-item active">Login</li>
</ol>

<div class="container">
    <div *ngIf="msgError" class="alert alert-danger" role="alert">
        Login e/ou senhas inválidos.
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha" formControlName="senha">
        </div>
        <button class="btn btn-dark">Entrar</button>
    </form>
</div>