<nav class="navbar">
    <span class="navbar-brand mb-0 h1">Redesearchmack</span>

    <div class="navbar-expand">
        <div class="navbar-nav justify-content-end" *ngIf="!authService.isAuthenticated()">
            <div class="nav-item">
                <a class="nav-link text-dark" routerLink="/login" role="button">Login</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-dark" routerLink="/cadastro" role="button">Cadastro</a>
            </div>
        </div>
        <div class="navbar-nav mr-auto" *ngIf="authService.isAuthenticated()">
            <div class="nav-item">
                <a class="nav-link text-dark" routerLink="" role="button">Home</a>
            </div>
            
            <div class="nav-item" *ngIf="authService.isCientista()">
                <a class="nav-link text-dark" routerLink="artigo" role="button">Artigo</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-dark" routerLink="atualizar" role="button">Atualizar perfil</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-dark" routerLink="lista" role="button">Membros</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-dark" routerLink="interesses" role="button">Interesses</a>
            </div>
            <div class="nav-item">                
                <a class="nav-link text-dark" role="button" routerLink="/login" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>