<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Artigo</li>
</ol>

<div class="container">
    <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Titulo" name="titulo" [(ngModel)]="publicacao.titulo"
                [required]="true">
        </div>

        <div class="form-group">
            <input placeholder="Local da publicação" type="text" class="form-control" name="localDaPublicacao"
                [(ngModel)]="publicacao.localDaPublicacao" [required]="true">
        </div>

        <div class="form-group">
            <input placeholder="Ano da publicação" class="form-control" type="text" name="anoDaPublicacao"
                [(ngModel)]="publicacao.anoDaPublicacao" [required]="true">
        </div>

        <div class="form-group">
            <input type="url" class="form-control" [(ngModel)]="publicacao.url" name="url" 
            placeholder="Url de referência do artigo">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="publicacao.tags" name="tags" 
            placeholder="Tags (Separe as tags por vírgulas)">
        </div>

        <div class="form-group">
            <input type=file (change)=onFileChanged($event)>
            <img [src]="imgURL" height=200 *ngIf="imgURL">
        </div>
        <button class="btn btn-primary" type="submit">Postar artigo</button>
    </form>

    <hr style="border: 1px soli">
    <h5 class="text-dark" *ngIf="temArtigo">Meus artigos</h5>
    <h5 class="text-dark" *ngIf="!temArtigo">Não há artigo postado</h5>

    <div class="container text-dark" >
        <br>
        <div *ngFor="let artigo of listaArtigo">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><b>{{artigo.publicacao?.titulo}}</b></p>
                    <p class="card-text">{{artigo.publicacao?.localDaPublicacao}}</p>
                    <p class="card-text">{{artigo.publicacao?.anoDaPublicacao}}</p>
                    <p class="card-text">{{artigo.publicacao?.url}}</p>
                    <div class="card-text">
                        <span *ngIf="artigo.docName"><b><i style="font-size:24px" class="fa">&#xf15b;</i> {{artigo.docName}}</b></span>
                    </div>
                    
                </div>
                <div class="card-footer text-muted">
                    <div class="float-left mr-3" *ngFor="let t of artigo.listaTags">
                        <button class="btn btn-info" disabled>{{t}}</button>
                    </div>
                    <div class="btn-group float-right" role="group">
                        <button type="button" class="btn btn-dark" (click)="getArtigo(artigo)" data-toggle="modal"
                            data-target="#editar">Editar</button>

                        <button type="button" class="btn btn-dark" (click)="getArtigo(artigo)" data-toggle="modal"
                            data-target="#excluir">Excluir</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>        
</div>

<!--Modal editar-->
    <div id="editar" class="modal fade" role="dialog">
        <div class="modal-dialog  text-dark">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar artigo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">   
                        <div class="form-group">
                            <input type="text" placeholder="Titulo" class="form-control" name="conteudo"
                                    [(ngModel)]="auxPublicacao.titulo"/>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Local da publicação" class="form-control" name="conteudo"
                            [(ngModel)]="auxPublicacao.localDaPublicacao"/>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Ano da publicação" class="form-control" name="conteudo"
                            [(ngModel)]="auxPublicacao.anoDaPublicacao"/>
                        </div>                
                        <div class="form-group">
                            <input type="text" placeholder="Url" class="form-control" name="conteudo"
                            [(ngModel)]="auxPublicacao.url"/>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Tags" class="form-control" name="conteudo"
                            [(ngModel)]="auxPublicacao.tags"/>
                        </div>

                        <div class="form-group" *ngIf="mudarArq">
                            <input type=file (change)=onFileChanged($event)>
                            <img [src]="imgURL" height=200 *ngIf="imgURL">
                        </div>
                        <div class="my-3" *ngIf="!mudarArq">
                            <button type="button" class="btn btn-dark"(click)="selecionar()">Selecionar outro arquivo</button>
                        </div>
                        <div class="my-3" *ngIf="mudarArq">
                            <button type="button" class="btn btn-dark"(click)="selecionar()">Voltar arquivo anterior</button>
                        </div>
                </div> 
                             
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" (click)="editar()" data-dismiss="modal">Editar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

<!--Modal deletar-->
<div id="excluir" class="modal fade" role="dialog">
    <div class="modal-dialog text-dark">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remover artigo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir essa postagem?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="excluir()" data-dismiss="modal">Confirmar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>
