<div class="container">
    <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="container">
            <div class="form-group">
                <textarea type="text" placeholder="Poste alguma mensagem" class="form-control" name="conteudo"
                [(ngModel)]="post.txt" required="true"></textarea>
            </div>
    
            <button class="btn btn-primary" type="submit">Postar</button>
        </div>    
    </form>
    
    <div  class="row">
        <div *ngIf="!isCientista" class="col-md-12">
            <br>
            <h3 >Mensagens mais curtidas</h3>
            <div *ngIf="!temPost">Não há mensagens postadas.</div>
            <div *ngFor="let p of listaPosts">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="card-text">{{p.txt}}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {{p.curtidas}} curtidas
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-warning mr-3" (click)="getPost(p)" data-toggle="modal"
                            data-target="#editar">Editar</button>
    
                        <button type="button" class="btn btn-danger" (click)="getPost(p)" data-toggle="modal"
                            data-target="#excluir">Excluir</button>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div *ngIf="isCientista" class="col-md-6">
            <br>
            <h3>Mensagens mais curtidas</h3>
            <div *ngIf="!temPost">Não há mensagens postadas.</div>
            <div *ngFor="let p of listaPosts">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="card-text">{{p.txt}}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {{p.curtidas}} curtidas
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-warning m-3" (click)="getPost(p)" data-toggle="modal"
                            data-target="#editar">Editar</button>
    
                        <button type="button" class="btn btn-danger" (click)="getPost(p)" data-toggle="modal"
                            data-target="#excluir">Excluir</button>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div *ngIf="isCientista" class="col-md-6">  
            <app-lista-artigo></app-lista-artigo>
        </div>
    </div>
</div>

<!--Modal editar-->
<div id="editar" class="modal fade" role="dialog">
    <div class="modal-dialog  text-dark">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar postagem</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea type="text" placeholder="Conteúdo" class="form-control" name="conteudo"
                        [(ngModel)]="auxPost.txt" required="true"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="editar()" data-dismiss="modal">Editar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal deletar-->
<div id="excluir" class="modal fade" role="dialog">
    <div class="modal-dialog text-dark">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remover post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir essa postagem?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="excluir()" data-dismiss="modal">Confirmar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>