<form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="container">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Titulo" name="titulo"
            [(ngModel)]="publicacao.titulo" required="true">
            <textarea type="text" placeholder="Conteúdo" class="form-control" name="conteudo"
            [(ngModel)]="publicacao.conteudo" required="true"></textarea>
        </div>

        <div class="form-group">
            <input placeholder="Local da publicação" type="text" class="form-control" name="localDaPublicacao"
            [(ngModel)]="publicacao.localDaPublicacao" required="true">
            <input placeholder="Ano da publicacao" class="form-control" type="text" name="anoDaPublicacao"
            id="anoDaPublicacao" [(ngModel)]="publicacao.anoDaPublicacao" required="true">
        </div>
        
        <div class="form-group">
            <input type="url" class="form-control" [(ngModel)]="publicacao.url" name="url"
            placeholder="Url de referência">
            <input type="text" class="form-control" [(ngModel)]="publicacao.tags" name="tags"
            placeholder="Tags">
        </div>     

        <button class="btn btn-primary" type="submit">Postar</button>
    </div>    
</form>

<div class="container" *ngIf="temPost">    
    <br>
    <div *ngFor="let p of listaPosts">
        <div class="card text-center">
            <div class="card-header">
                <b>
                {{p.publicacao.titulo}}
                </b>
            </div>
            <div class="card-body">
              <p class="card-text">{{p.publicacao.conteudo}}</p>
            </div>
            <div class="card-footer text-muted">
              {{p.publicacao.localDaPublicacao}} - {{p.publicacao.anoDaPublicacao}}
            </div>
            <div class="card-footer text-muted">
                {{p.curtidas}} curtidas
              </div>
            <div class="card-footer">
                <button type="button" class="btn btn-warning mr-3" (click)="getPost(p)" data-toggle="modal"
                data-target="#editar">Editar postagem</button>

                <button type="button" class="btn btn-danger" (click)="getPost(p)" data-toggle="modal"
                data-target="#excluir">Excluir postagem</button>                
            </div>
        </div>            
        <br>
    </div>
</div>

<!--Modal editar-->
<div id="editar" class="modal fade" role="dialog">
    <div class="modal-dialog  text-dark">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar postagem</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo"
                        [(ngModel)]="auxPublicacao.titulo" required="true">
                </div>

                <div class="form-group">
                    <textarea type="text" placeholder="Conteúdo" class="form-control" name="conteudo"
                        [(ngModel)]="auxPublicacao.conteudo" required="true"></textarea>
                </div>

                <div class="form-group">
                    <input placeholder="Local da publicação" type="text" class="form-control" name="localDaPublicacao"
                        [(ngModel)]="auxPublicacao.localDaPublicacao" required="true">
                </div>

                <div class="form-group">
                    <input placeholder="Ano da publicacao" class="form-control" type="text" name="anoDaPublicacao"
                        [(ngModel)]="auxPublicacao.anoDaPublicacao" required="true">
                </div>

                <div class="form-group">
                    <input type="url" class="form-control" [(ngModel)]="auxPublicacao.url" name="url"
                        placeholder="Url de referência">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="auxPublicacao.tags" name="tags"
                        placeholder="Tags">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="editar()" data-dismiss="modal">Editar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal deletar-->
<div id="excluir" class="modal fade" role="dialog">
    <div class="modal-dialog text-dark">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remover post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir essa postagem?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="excluir()" data-dismiss="modal">Confirmar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>