<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Interesse</li>
</ol>

<div class="container">
    <div *ngIf="!jaTemInteresse">
        <h4 class="mx-3">Selecionados</h4>
        <div class="btn-group" *ngFor="let i of selecionados">
            <button class="btn btn-danger m-3" title="Clique para remover" (click)="remover(i)">{{i}}</button>
        </div>
    </div>

    <hr>

    <div class="btn-group" *ngFor="let i of glossarios">
        <p class="btn btn-dark m-3" title="Clique para adicionar a sua seleção" (click)="adicionar(i)">{{i}}</p>
    </div>
</div>