<div class="card text-center">
    <div class="card-header">
        <b>
            {{artigo.publicacao?.titulo}}
        </b>
    </div>
    <div class="card-text">
        <p>{{artigo.publicacao?.resumo}}</p>
    </div>
    <div class="card-footer text-muted">
        {{artigo.publicacao?.localDaPublicacao}} - {{artigo.publicacao?.anoDaPublicacao}}
        <div class="card-text">
            <span *ngIf="documento.docName"><b><i style="font-size:24px" class="fa">&#xf15b;</i>
                    {{documento.docName}}</b></span>
        </div>
        <br>
        {{artigo?.curtidas}} pessoa(s) curtiram
        <div class="float-right">
            <button type="button" class="btn btn-info" (click)="botao(artigo.id)">{{status}} artigo</button>
        </div>
    </div>
</div>
<br>